(
    accounts: [],
    groups: [
        (
            name: "Test",
            members: [],
        ),
    ],
    crypto: [
        (
            currency: Usd,
            description: "Bitcoin",
            symbol: "XBT",
        ),
        (
            currency: Usd,
            description: "Ethereum",
            symbol: "ETH",
        ),
        (
            currency: Usd,
            description: "Gnosis",
            symbol: "GNO",
        ),
    ],
    fiats: [
        Usd,
        Eur,
    ],
    metals: [
        (
            currency: Usd,
            description: "Gold Troy Oz",
            symbol: "XAU",
        ),
        (
            currency: Usd,
            description: "Silver Troy Oz",
            symbol: "XAG",
        ),
        (
            currency: Eur,
            description: "Silver Troy Oz",
            symbol: "XAG",
        ),
    ],
    stocks_plus: [
        (
            description: "Invesco Charter A",
            symbol: "CHTRX",
        ),
        (
            description: "CHEVRON CORP",
            symbol: "CVX",
        ),
        (
            description: "CISCO SYSTEMS INC COM",
            symbol: "CSCO",
        ),
        (
            description: "DISNEY (WALT) CO COM STK",
            symbol: "DIS",
        ),
        (
            description: "JOHNSON AND JOHNSON COM",
            symbol: "JNJ",
        ),
        (
            description: "KINDER MORGAN INC. DEL",
            symbol: "KMI",
        ),
        (
            description: "TEXAS INSTRUMENTS",
            symbol: "TXN",
        ),
        (
            description: "WEBSTER FINL CP PV $0.01",
            symbol: "WBS",
        ),
    ],
)