(
    checked_up_to: "2024-07-23T18:25:04.957893281Z",
    accounts: [],
    // Supports all the crypto on api.kraken.com .
    crypto: [
        (
            currency: Usd,
            description: "Bitcoin",
            symbol: "XBT",
        ),
        (
            currency: Usd,
            description: "Ethereum",
            symbol: "ETH",
        ),
        (
            currency: Usd,
            description: "Gnosis",
            symbol: "GNO",
        ),
    ],
    // Supports all the fiats on www.goldapi.io .
    fiats: [
        Usd,
        // Aud,
        // Gbp,
        Eur,
        // Cad,
        // Chf,
        // Jpy,
        // Krw,
        // Inr,
        // Cny,
        // Zar,
        // Thb,
        // Sgd,
        // Hkd,
        // Czk,
        // Pln,
        // Myr,
        // Rub,
        // Aed,
        // Kwd,
        // Egp,
        // Omr,
        // Sar,
        // Mxn,
        // Jod,
    ],
    // Supports all the metals on www.goldapi.io .
    metals: [
        (
            currency: Usd,
            description: "Gold Troy Oz",
            symbol: "XAU",
        ),
        (
            currency: Usd,
            description: "Silver Troy Oz",
            symbol: "XAG",
        ),
        (
            currency: Eur,
            description: "Silver Troy Oz",
            symbol: "XAG",
        ),
    ],
    // Supports everything on finance.yahoo.com .
    // All equities are in Usd.
    stocks_plus: [
        (
            // Mutual Fund:
            description: "Invesco Charter A",
            symbol: "CHTRX",
        ),
        (
            description: "CHEVRON CORP",
            symbol: "CVX",
        ),
        (
            description: "CISCO SYSTEMS INC COM",
            symbol: "CSCO",
        ),
        (
            description: "DISNEY (WALT) CO COM STK",
            symbol: "DIS",
        ),
        (
            description: "JOHNSON AND JOHNSON COM",
            symbol: "JNJ",
        ),
        (
            description: "KINDER MORGAN INC. DEL",
            symbol: "KMI",
        ),
        (
            description: "TEXAS INSTRUMENTS",
            symbol: "TXN",
        ),
        (
            description: "WEBSTER FINL CP PV $0.01",
            symbol: "WBS",
        ),
    ],
)
