[Desktop Entry]
Name=Fin Stat
Comment=Personal Finance
Exec=financial-accounts
Icon=financial-accounts
Type=Application
StartupNotify=true
Categories=Office;Finance
