[Desktop Entry]
Name=Financial Accounts
Comment=Personal Finance
Exec=financial-accounts
Icon=financial-accounts
Type=Application
StartupNotify=true
Categories=Office;Finance
